* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;   
  background: #f2f2f2;  
}

#root {
  width: 100%;
  height: 100%;
}

/* FONDO GENERAL */
.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f3ff;
}


/* TARJETA BLANCA */
.login-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* TÍTULO PRINCIPAL */
.app-title {
  color: #5a2fc2;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: 600;   
  margin-bottom: 22px;
}

/* CONTENEDOR DE IMAGEN */
.login-image {
  height: 240px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.subtitle {
  color: #777;
  font-size: 14px;
  font-weight: 400;

}

/* ===== TARJETA DEL FORMULARIO ===== */
.form-login {
  background: #ffffff;
  width: 100%;
  max-width: 520px;
  border-radius: 24px;
  padding: 40px 42px;
  box-shadow: 0 12px 28px rgba(90, 47, 194, 0.18);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ded3ff;
}

/* ===== TÍTULO ===== */
.form-login h2 {
  text-align: center;
  margin-bottom: 8px;

}

/* ===== INPUTS Y SELECT ===== */
.form-login input{
  width: 95%;
  padding: 14px ;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

.form-login select {
  width: 100%;
  padding: 14px 5px;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

/* ===== FOCUS ===== */
.form-login input:focus,
.form-login select:focus {
  border-color: #7b54f3;
  box-shadow: 0 0 0 2px rgba(123, 84, 243, 0.15);
  background: #ffffff;
}

/* ===== PLACEHOLDER ===== */
.form-login input::placeholder {
  color: #9a8fdc;
}

/* ===== BOTÓN ===== */
.form-login button {
  margin: 5px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, #462195, #a684ff);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 17px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(108, 52, 232, 0.35);
}

.form-login button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 12px 20px rgba(123, 84, 243, 0.5);
}

.register-link {
  color: white;
  margin: 5px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, #462195, #a684ff);
  border: none;
  border-radius: 10px;
  padding: 10px 17px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(108, 52, 232, 0.35);
}

.register-link:hover {
  color: white;
  transform: translateY(-0.5px);
  box-shadow: 0 12px 20px rgba(123, 84, 243, 0.5);
}

/* FOOTER */
.login-footer {
  margin-top: 35px;
  font-size: 12px;
  color: #888;
}
