/* ===== CONTENEDOR GENERAL ===== */
.nuevo-evento-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f3ff;
}

/* HEADER  */
.app-header {
  height: 60px;
  background: #5b2db8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
}

.btn-cerrar {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-cerrar:hover {
  background: white;
  color: #5b2db8;
}

/* ===== CONTENIDO CENTRAL ===== */
.contenido-evento {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* ===== TARJETA DEL FORMULARIO ===== */
.form-evento {
  background: #ffffff;
  width: 100%;
  max-width: 520px;
  border-radius: 24px;
  padding: 40px 42px;
  box-shadow: 0 12px 28px rgba(90, 47, 194, 0.18);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ded3ff;
}

/* ===== TÍTULO ===== */
.form-evento h2 {
  text-align: center;
  color: #5a2fc2;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

/* ===== INPUTS Y SELECT ===== */
.form-evento input{
  width: 95%;
  padding: 14px ;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

.form-evento select {
  width: 100%;
  padding: 14px 5px;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

/* ===== FOCUS ===== */
.form-evento input:focus,
.form-evento select:focus {
  border-color: #7b54f3;
  box-shadow: 0 0 0 2px rgba(123, 84, 243, 0.15);
  background: #ffffff;
}

/* ===== PLACEHOLDER ===== */
.form-evento input::placeholder {
  color: #9a8fdc;
}

/* ===== BOTÓN ===== */
.form-evento button {
  margin-top: 10px;
  background: linear-gradient(135deg, #7b54f3, #5a2fc2);
  border: none;
  border-radius: 14px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 8px 16px rgba(123, 84, 243, 0.35);
}

.form-evento button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(123, 84, 243, 0.5);
}

/* ===== FOOTER ===== */
.footer-evento {
  height: 50px;
  background: #5a2fc2;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
}
