/* ===== RESET LOCAL SOLO PARA ESTA PANTALLA ===== */
.register-page {
  min-height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* BARRA SUPERIOR */
.top-bar {
  width: 100%;
  height: 60px;
  background: #7b5ba7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}


.close-btn {
  background: transparent;
  margin-right: 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 10px;
}


/* TARJETA CENTRAL */
.register-card {
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;   /* aire abajo */
  width: 440px;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* TÍTULO APP */
.app-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* IMAGEN */
.login-image {
  height: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* SUBTÍTULOS */
.register-card h2 {
  margin-bottom: 4px;
  font-weight: 500;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

/* FORMULARIO */
.register-card form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register-card input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.register-card input:focus {
  outline: none;
  border-color: #7b5ba7;
}

/* BOTÓN */
.register-card button {
  background: #61339b;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: 0.3s;
}

.register-card button:hover {
  background: #4e277e;
}

/* LINKS */
.register-link {
  display: block;
  margin-top: 16px;
  color: #61339b;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
}

/* FOOTER */
.register-footer {
  margin-top: 35px;
  font-size: 12px;
  color: #888;
}
