
.register-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f3ff;
}


/* TARJETA CENTRAL */
.register-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* TÍTULO APP */
.app-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* IMAGEN */
.login-image {
  height: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* SUBTÍTULOS */
.register-card h2 {
  margin-bottom: 4px;
  font-weight: 500;
}


.subtitle {
  color: #777;
  font-size: 14px;
  font-weight: 400;

}

/* ===== TARJETA DEL FORMULARIO ===== */
.form-register {
  background: #ffffff;
  width: 100%;
  max-width: 520px;
  border-radius: 24px;
  padding: 40px 42px;
  box-shadow: 0 12px 28px rgba(90, 47, 194, 0.18);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ded3ff;
}

/* ===== TÍTULO ===== */
.form-register h2 {
  text-align: center;
  margin-bottom: 8px;

}

/* ===== INPUTS Y SELECT ===== */
.form-register input{
  width: 95%;
  padding: 14px ;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

.form-register select {
  width: 100%;
  padding: 14px 5px;  
  border-radius: 12px;
  border: 1.5px solid #d8ccff;
  font-size: 15px;
  outline: none;
  background: #faf9ff;
}

/* ===== FOCUS ===== */
.form-register input:focus,
.form-register select:focus {
  border-color: #7b54f3;
  box-shadow: 0 0 0 2px rgba(123, 84, 243, 0.15);
  background: #ffffff;
}

/* ===== PLACEHOLDER ===== */
.form-register input::placeholder {
  color: #9a8fdc;
}

/* ===== BOTÓN ===== */
.form-register button {
  margin: 5px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, #462195, #a684ff);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 17px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(108, 52, 232, 0.35);
}

.form-register button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(123, 84, 243, 0.5);
}


/* LINKS */
.register-link {
  display: block;
  margin-top: 16px;
  color: #61339b;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
}

/* FOOTER */
.register-footer {
  margin-top: 35px;
  font-size: 12px;
  color: #888;
}
