/*Estilo de la pagina principal */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;   
  background: #f2f2f2;  
}

#root {
  width: 100%;
  height: 100%;
}