html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;   /* evita scroll lateral */
  background: #f2f2f2;  /* mismo color del fondo */
}

#root {
  width: 100%;
  height: 100%;
}